.vertical-menu, h1{ /*SETE A TAG H1 PARA QUE FIQUE NO CENTRO TBM*/
    width: 200px;
    margin-left: auto;  /* ADICIONE A MARGIN PARA FICAR NO CENTRO*/
    margin-right: auto; /* ADICIONE A MARGIN PARA FICAR NO CENTRO*/
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
  }

  